@use "../../assets/sass/variables" as *;

.section {
    h1 {
        height: 47px;
        margin-top: 7rem;

        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: $black;
        text-align: center;
    }

    h2 {
        margin-bottom: 7rem;

        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: $black;
        text-align: center;
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__field{
        display: flex;
        flex-direction: column;

    }

    &__label {
        margin-bottom: 0.7em;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $black;
    }

    &__input {
        height: 40px;
        padding: 11px 13px;
        background: $white;

        border: 2px solid $border-input-color;
        border-radius: 10px;

        gap: 8px;
    }

    &__error {
        width: 550px;
        margin-top: 0.3rem;
        opacity: 0;

        color: $error;
        font-style: bold;
        font-weight: 800;
        font-size: 12px;
        text-align: right;
    }

    &__submit {
        cursor: pointer;

        height: 48px;
        margin-top: 2rem;
        padding: 20px 36px;
        background: $contrast-color;

        border: none;
        border-radius: 6px;

        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        color: $white;

        display: flex;
        justify-content: center;
        align-items: center;

        a{
            color: $white;
        }
    }

    &__submit:hover {
        background-color: $hover-button;
        transition: 0.3s ease-in-out;
    }
}
