@use '../../assets/sass/variables' as *;

.home{
    background-color: $header-background;
    justify-content: center;

    &__productCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 15em;
        row-gap: 3em;
        padding: 3rem 15em;

    }
}
